#!/bin/bash

project=dropwizard-support

function command_rebuild {
  mvn clean install $*
}

function command_site_build {
  mvn -P!include-private clean install dionysus:build
}

function command_site_publish {
  mvn -P!include-private dionysus:publish
}

function command_site_deploy {
  self site_build && self site_publish
}

function command_site_test {
   (cd src/site/hugo && yarn install && yarn start)
}